

hr{
    width: 75%;
    color: white;
    background-color: white;
    border-width: 2px;
    border-radius: 75px;
}

.d-block{
  width: 60%;
  height: auto;
  /*  */
  /* height: 50px; */
  
  margin: auto;
}

.carousel-control-prev {
  left: 10%;
}

.carousel-control-next {
  right: 10%;
}

.carousel-indicators {
  /* bottom: -23px; */
  background-color: transparent;
}

.box{
  background-color: #B1A6A4;
  
  /* border: 2px solid; */
  width: 85%;
  height: auto;
  margin: auto;
  padding: 25px;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}

/* Carousel start */
.left-section, .right-section {
  background-color: #1E1E1E;
  flex: 1;
}

.left-section {
  text-align: left;
  padding-left: 0px;
}

.right-section {
  text-align: right;
  padding-right: 0px;
}
/* Carousel over */



