hr{
    width: 75%;
    
    background-color: rgb(133, 79, 9);
    border-width: 2px;
    border-radius: 75px;
}

#content-heading{
    color: rgb(133, 79, 9);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
}