*{
  /* background-color: #F1ECEC; */
}

p{
  color: #413F3D;
  background-color: transparent;
  text-align: justify;
  text-justify: inter-word;
}
html{
  scroll-behavior: smooth;
  scroll-padding: 40px;
}
body{
  scroll-behavior: smooth;
  background-color: #F1ECEC;
}

/* Header start */
.second{
  text-align: center;
}
.header{
  color: #4E3927;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: 'Times New Roman', Times, serif;
}

.header h1{
    color: rgb(133, 79, 9);
}

.logo{
  width: 110px;
  padding-top: 20px;
  padding-right: 40px;
  background-color: #F1ECEC;
  float: left;
  /* border-radius: 50%; */
  margin-right: 20px;
}
/* Header over */

/* Footer start */
.footer {
  background-color: #1E1E1E;
  color: white;
  padding: 8px 0;
  overflow: hidden;

}

.left-section .right-section {
  
  background-color: transparent;
}



.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1250px;
  margin: auto;
  background-color: transparent;
  
}

.gif{
  width: 5%;
  
  
}

.left-section, .right-section {
  background-color: #1E1E1E;
  flex: 1;
}

.left-section {
  text-align: left;
  padding-left: 0px;
}

.right-section {
  text-align: right;
  padding-right: 0px;
}
/* Footer over */


/* Navbar start  */

.nav-link a{
  margin: 0;
  color: white;
  
  
}

.navbar{
  float: center;
  /* position: sticky; */
  padding: 0px ;
  margin: auto;
  /* padding-top: 2px; */
  /* border: 2px solid red; */
  display: flex;
  border-radius: 35px;
  /* background: transparent; */
  justify-content: center;
  align-items: center;
  width: 90%;
  
  
}



.navtxt{
  color: #FFFFFF;
  
}

.navbar-nav{
  margin: auto;
  height: 34px;
}



.navbar-nav li{
  background-color: #B1A6A4;
  padding: 0px 70px; 
  width: auto;  
  
}

.nav-link{
  padding: 0;
  padding-top: 0px;
}

.nav-link :hover{
  padding: 0;
  color: #000000;
}

.nav-item .nav-link p{
  padding: 5px;
  max-width: 1500px;
}

.nav-item .link1 p{
  margin: auto;
  vertical-align: middle;
  color: black;
  background-color: #FFFFFF;
  border-radius: 35px;
}



.collapse{
  border-radius: 35px;
  /* overflow: hidden; */
  background-color: #B1A6A4;
  
}



/* .nav-scroll{
  transition: background-color 0.1s ease-in;
} */

.nav-scroll.scrolled{
  width: 100%;
  
}

.collapse.scrolled{
  border-radius: 0px;
} 

/* navbar over  */


@media only screen and (max-width: 1400px) {
  .navbar-nav li {
    padding: 0px 40px;
  }
  .navbar{
  float: center;
  /* position: sticky; */
  padding: 0px ;
  /* margin: auto; */
  /* padding-top: 2px; */
  /* border: 2px solid red; */
  /* display: flex; */
  border-radius: 35px;
  /* background: transparent; */
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  
  
}
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background:#B1A6A4;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(#ffffff,#fffefe);
  border-radius: 25px;
}